@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #010902;
  --background-start-hex: #e0fae1;
  --background-end-hex: #e0fae1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #e0fae1;
    --background-start-hex: #010902;
    --background-end-hex: #010902;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
